<% if experiment.has_winner? %>
  <form action="<%= url "/reopen?experiment=#{experiment.name}" %>" method='post' onclick="return confirmReopen()">
    <input type="submit" value="Reopen Experiment">
  </form>
<% end %>
<% unless experiment.start_time %>
  <form action="<%= url "/start?experiment=#{experiment.name}" %>" method='post'>
    <input type="submit" value="Start">
  </form>
<% end %>
