<% if @experiments.any? %>
  <input type="text" placeholder="Begin typing to filter" id="filter" />
  <input type="button" id="clear-filter" class="green" value="Clear filters" />

  <div class='active-toggle'>
    <input type="button" id="toggle-completed" class="green" value="Hide completed" />
    <input type="button" id="toggle-active" class="green" value="Hide active" />
  </div>

  <% paginated(@experiments).each do |experiment| %>
    <% if experiment.goals.empty? %>
      <%= erb :_experiment, :locals => {:goal => nil, :experiment => experiment} %>
    <% else %>
      <% experiment.goals.each do |g| %>
        <%= erb :_experiment, :locals => {:goal => g, :experiment => experiment} %>
      <% end %>
    <% end %>
  <% end %>

  <div class="pagination">
    <%= pagination(@experiments) %>
  </div>
<% else %>
  <p class="intro">No experiments have started yet, you need to define them in your code and introduce them to your users.</p>
  <p class="intro">Check out the <a href='https://github.com/splitrb/split#readme'>Readme</a> for more help getting started.</p>
<% end %>
